@media screen and (max-width: 768px){
  .hero__str1{
    font-size: 12px;
  }

  .hero__str2{
    font-size: 44px;
  }

  .hero__str3{
    font-size: 16px;
  }

  .hero__contain{
    width: 100vw;
  }

  .hero-bcg{
    height: 320px;
    background-position: left;
  }
}