<div class="hero-bcg">
  <section class="contain hero">
    <div class="hero__contain">
      <p class="hero__str1">Санкт-Петербург</p>
      <p class="hero__str2">Котейка</p>
      <p class="hero__str3">Уютная гостиница для котов и кошек</p>
      <a href="../../pages/rooms.html" class="hero__btn">Забронировать
        <div class="hero__btn-icon-contain">
          <svg class="hero__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>
    </div>
  </section>
</div>