@media screen and (max-width: 1024px) {

.reviews{
    &__el {
    max-width: 442px;
  }

  &__text{
    font-size: 15px;
  }

  &__slide{
    justify-content: center;
  }

  &__circ{
    margin: 0;
  }

  &__arrow-contain,
  .el{
    display: none;
  }
}

}