@media screen and (max-width: 768px){
  .contain-rev{
    margin-top: 70px;
  }

  .reviews{
    &_icon{
      height: 20px;
    }
  
    &__contain2{
      display: none;
    }
  
    &__contain {
      display: flex;
      flex-wrap: nowrap;
      padding: 0px 15px;    }
  
    &__el {
      min-width: calc(100vw - 30px); // 100vw минус padding
      width: calc(100vw - 30px);
      height: auto;
    }
  }
}