<!-- <svg class="reviews__bcg">
  <use href="../../assets/image/symbol-defs.svg#icon-bcg_paw"></use>
</svg> -->
<div class="contain">
  <h2>Отзывы</h2>
  <ul class="reviews__contain">
    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Первый раз пришлось оставить нашего котика
          в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца,
          рассказывала, как он себя чувствует.
          И мы и котик остались очень довольны!</p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Виктория Семушкина</p>
        <p class="reviews__data">15 ноября, 2019</p>
      </div>
    </li>

    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота,
          когда уезжают. В
          “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
        </p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Екатерина Минаева</p>
        <p class="reviews__data">10 октября, 2019</p>
      </div>
    </li>

    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к
          уходу за
          ним, и
          “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно.
        </p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Павел Нечаев</p>
        <p class="reviews__data">28 ноября, 2019</p>
      </div>
    </li>
    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота,
          когда уезжают. В
          “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
        </p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Екатерина Минаева</p>
        <p class="reviews__data">10 октября, 2019</p>
      </div>
    </li>
    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Первый раз пришлось оставить нашего котика
          в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца,
          рассказывала, как он себя чувствует.
          И мы и котик остались очень довольны!</p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Валерия Гришаева</p>
        <p class="reviews__data">15 ноября, 2019</p>
      </div>
    </li>

    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота,
          когда уезжают. В
          “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
        </p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Екатерина Минаева</p>
        <p class="reviews__data">10 октября, 2019</p>
      </div>
    </li>

    <li class="reviews__el">
      <div class="reviews__contain1">
        <svg class="reviews_icon">
          <use href="../../assets/image/symbol-defs.svg#icon-citata"></use>
        </svg>
        <p class="reviews__text">Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к
          уходу за
          ним, и
          “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно.
        </p>
      </div>
      <div class="reviews__contain2">
        <p class="reviews__author">Павел Нечаев</p>
        <p class="reviews__data">28 ноября, 2019</p>
      </div>
    </li>
  </ul>

  <div class="reviews__slide">

    <div class="el"></div>

    <ul class="reviews__circ">

      <li class="reviews__circ-el">
        <svg class="reviews__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-orange_point"></use>
        </svg>
      </li>

      <li class="reviews__circ-el">
        <svg class="reviews__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-gray_point"></use>
        </svg>
      </li>

      <li class="reviews__circ-el">
        <svg class="reviews__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-gray_point"></use>
        </svg>
      </li>

    </ul>


    <ul class="reviews__arrow-contain">

      <li class="reviews__arrow">
        <button type="button" id="prevBtn">
          <svg class="reviews__arrow-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-left_arrow"></use>
          </svg>
        </button>
      </li>

      <li class="reviews__arrow">
        <button type="button" id="nextBtn">
          <svg class="reviews__arrow-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-right_arrow"></use>
          </svg>
        </button>
      </li>

    </ul>
  </div>
</div>
