<div class="header__desk">
  <a href="./catalog.html">
    <svg class="logo">
      <use href="../../assets/image/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <nav>
    <ul class="header__nav">
      <li class="header__nav-el"><a href="">Почему мы?</a></li>
      <li class="header__nav-el"><a href="">Номера</a></li>
      <li class="header__nav-el"><a href="">Отзывы</a></li>
      <li class="header__nav-el"><a href="">Как нас найти</a></li>
    </ul>
  </nav>
</div>


<div class="header header__mob">
  <a href="./catalog.html">
    <svg class="logo">
      <use href="../../assets/image/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <button class="header__btn" data-open-menu>
    <svg class="header__btn-icon">
      <use href="../../assets/image/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>
</div>

<div class="header__menu hidden" data-menu>
  <div class="header">
  <a href="./catalog.html">
    <svg class="logo">
      <use href="../../assets/image/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <button class="header__btn" data-close-menu>
    <svg class="header__btn-icon">
      <use href="../../assets/image/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  </div>
  <nav>
    <ul class="header__nav">
      <li class="header__nav-el"><a href="">Почему мы?</a></li>
      <li class="header__nav-el"><a href="">Номера</a></li>
      <li class="header__nav-el"><a href="">Отзывы</a></li>
      <li class="header__nav-el"><a href="">Как нас найти</a></li>
    </ul>
  </nav>
  <p class="header__numb">8 (800) 333-55-99</p>
  <ul class="header__social">
    <li  class="header__social-el">
      <a href="">
        <svg class="header__social-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li  class="header__social-el">
      <a href="">
        <svg  class="header__social-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li  class="header__social-el">
      <a href="">
        <svg class="header__social-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-vk"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>