@media screen and (max-width: 1024px) {
  .prod {
    display: block;
  }

  .filter {

    &__list {
      position: unset;
      top: 13vh;
    }

    &__btn-open {
      display: flex;
      align-items: center;
      border-radius: 25px;
      box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.18);
      padding: 13px 20px;
    }

    &__btn-open-icon {
      width: 12px;
      height: 15px;
      margin-right: 10px;
    }
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;

    &__img {
      max-height: 256px;
    }


    &__btn {
      font-size: 16px;
      padding: 7px 30px;
      padding-right: 0px;
    }

    &__btn-cont {
      display: flex;
    }

    &__btn-icon {
      width: 21px;
      height: 18px;
    }

    &__btn {
      font-size: 16px;
      padding: 7px 30px;
      padding-right: 0px;
    }

    &__btn-cont {
      display: flex;
    }

    &__btn-icon {
      width: 21px;
      height: 18px;
    }

    &__btn-text{
      margin-left: auto;
    }
  }
}