<div class="filters__backdrop hidden" data-backdrop></div>
<div class="filters__cont">


  <ul class="filter__list">
    <li class="filter__item">
      <button class="filter__btn">
        <svg class="filter__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-filter_up_arrow"></use>
        </svg>
        <input type="radio" id="squareUp" name="filter" value="squareUp">
        <label for="squareUp">По площади</label>
        <svg class="filter__open-btn">
          <use href="../../assets/image/symbol-defs.svg#icon-down_arrow"></use>
        </svg>
      </button>
    </li>
    <li class="filter__item">
      <button class="filter__btn">
        <svg class="filter__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-filter_down_arrow"></use>
        </svg>
        <input type="radio" id="squareDown" name="filter" value="squareDown">
        <label for="squareDown">По площади</label>
      </button>
    </li>
    <li class="filter__item">
      <button class="filter__btn">
        <svg class="filter__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-filter_up_arrow"></use>
        </svg>
        <input type="radio" id="priceUp" name="filter" value="priceUp">
        <label for="priceUp">По цене</label>
      </button>
    </li>
    <li class="filter__item">
      <button class="filter__btn">
        <svg class="filter__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-filter_down_arrow"></use>
        </svg>
        <input type="radio" id="priceDown" name="filter" value="priceDown">
        <label for="priceDown">По цене</label>
      </button>
    </li>
    <button class="filter__btn-open" type="button" data-open-filter>
      <svg class="filter__btn-open-icon">
        <use href="../../assets/image/symbol-defs.svg#icon-filter"></use>
      </svg>
      <p>Фильтры</p>
    </button>
  </ul>
</div>

<ul class="products">
  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_1.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Эконом</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_1"></use>
            </svg>
            <span class="products__tooltip">Пустой номер</span>
          </span>
        </p>
        <p class="products__str">Цена за сутки:
          <span class="products__price">200&#8381;</span>
        </p>
      </div>
      <a href="../../pages/room_card.html" class="products__btn">
        <span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>
    </div>
  </li>

  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_2.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Эконом плюс</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
            </svg>
            <span class="products__tooltip">Лежак</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
            </svg>
            <span class="products__tooltip">Когтеточка</span>
          </span>
        </p>
        <p class="products__str">Цена за сутки:
          <span class="products__price">200&#8381;</span>
        </p>
      </div>
      <a href="" class="products__btn"><span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>

    </div>
  </li>

  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_3.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Комфорт</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
            </svg>
            <span class="products__tooltip">Лежак</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
            </svg>
            <span class="products__tooltip">Когтеточка</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_4"></use>
            </svg>
            <span class="products__tooltip products__tooltip-long">Игровой комплекс - 2 яруса</span>
          </span>
        </p>
        <p class="products__str">Цена за сутки:
          <span class="products__price">250&#8381;</span>
        </p>
      </div>
      <a href="" class="products__btn"><span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>

    </div>
  </li>

  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_4.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Эконом</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
            </svg>
            <span class="products__tooltip">Лежак</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
            </svg>
            <span class="products__tooltip">Когтеточка</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_4"></use>
            </svg>
            <span class="products__tooltip products__tooltip-long">Игровой комплекс - 2 яруса</span>
          </span>
        </p>
        <p class="products__str">Цена за сутки:
          <span class="products__price">350&#8381;</span>
        </p>
      </div>
      <a href="" class="products__btn"><span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>

    </div>
  </li>

  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_5.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Эконом</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
            </svg>
            <span class="products__tooltip">Лежак</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
            </svg>
            <span class="products__tooltip">Когтеточка</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_4"></use>
            </svg>
            <span class="products__tooltip products__tooltip-long">Игровой комплекс - 3 яруса</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_5"></use>
            </svg>
            <span class="products__tooltip">Домик</span>
          </span>
        </p>
        <p class="products__str">Цена за сутки:
          <span class="products__price">500&#8381;</span>
        </p>
      </div>
      <a href="" class="products__btn"><span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>

    </div>
  </li>

  <li class="products__card">
    <img class="products__img" src="../../assets/image/room_6.jpg" alt="cat">
    <div class="products__text">
      <div class="cl">
        <h3 class="products__title">Эконом</h3>
        <p class="products__str">Размеры (ШхГхВ) - 90х70х180 см</p>
        <p class="products__str">Площадь - 0,63 м2</p>
        <p class="products__str products__str-flex">Оснащение номера
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
            </svg>
            <span class="products__tooltip">Лежак</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
            </svg>
            <span class="products__tooltip">Когтеточка</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_4"></use>
            </svg>
            <span class="products__tooltip products__tooltip-long">Игровой комплекс - 3 яруса</span>
          </span>
          <span class="products__tooltip-container">
            <svg class="products__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-room_5"></use>
            </svg>
            <span class="products__tooltip">Домик</span>
          </span>
        </p>
        <p class="products__str"> Цена за сутки:
          <span class="products__price">600&#8381;</span>
        </p>
      </div>
      <a href="" class="products__btn"><span class="products__btn-text">Забронировать</span>
        <div class="products__btn-cont">
          <svg class="products__btn-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
          </svg>
        </div>
      </a>

    </div>
  </li>
</ul>