@use "../../assets/style/mixins" as mixins;

.hero-bcg {
  background-image: url(./assets/image/hero_bcg.jpg);
  max-width: 100vw;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero-bcg {
  .hero {
    padding: 13vh 0px;
  }
}

.hero__contain {
  margin-left: 10%;
}

.hero__str1 {
  font-size: 15px;
}

.hero__str2 {
  font-family: var(--Rubik);
  font-weight: 800;
  font-size: 62px;
  margin-bottom: 5px;
}

.hero__str3 {
  font-family: var(--Lato-500);
  font-size: 21px;
}

.hero__btn {
  @include mixins.bron-btn;
}

.hero__btn-icon-contain {
  @include  mixins.bron-btn__contain
}

.hero__btn-icon {
  @include  mixins.bron-room__btn-icon
}