@media screen and (max-width: 768px) {

  .hero__bcg {
    height: 320px;
    .hero {
      padding: 50px 0;

      &__str1 {

        font-size: 12px;
      }

      &__str2 {
        font-size: 44px;
      }

      &__str3 {
        font-size: 16px;
      }

      &__contain {
        width: 100vw;
      }

      &__bcg {
        height: 320px;
        background-position: left;
      }
    }
  }
}