  <h1 class="filters__title">Наши номера</h1>
  <form action="" class="filters__form hidden" data-filter>
    <div class="filters__btn-cont">
      <button class="filters__btn-close" data-close-filter>
        <svg class="filters__btn-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <fieldset class="filters__inputs">
      <legend class="filters__subtitle">Цена за сутки, &#8381;</legend>
      <input type="text" class="filters__input" placeholder="от 100">
      <input type="text" class="filters__input" placeholder="до 600">
    </fieldset>
    <fieldset>
      <legend class="filters__subtitle">Площадь</legend>
      <ul>
        <li class="filters__el">
          <label for="square1" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square1" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            0,63 м2</label>
        </li>
        <li class="filters__el">
          <label for="square2" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square2" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            0,90 м2</label>
        </li>
        <li class="filters__el">
          <label for="square3" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square3" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            1,13 м2</label>
        </li>
        <li class="filters__el">
          <label for="square4" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square4" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            1,56 м2</label>
        </li>
        <li class="filters__el">
          <label for="square5" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square5" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            2,56 м2</label>
        </li>
        <li class="filters__el">
          <label for="square6" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="square6" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            2,88 м2</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend class="filters__subtitle">Оснащение номера</legend>
      <ul>
        <li class="filters__el">
          <label for="equipment1" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="equipment1" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            Пустой номер</label>
        </li>
        <li class="filters__el">
          <label for="equipment2" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="equipment2" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            Лежак</label>
        </li>
        <li class="filters__el">
          <label for="equipment3" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="equipment3" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            Когтеточка</label>
        </li>
        <li class="filters__el">
          <label for="equipment4" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="equipment4" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            Игровой-комплекс</label>
        </li>
        <li class="filters__el">
          <label for="equipment5" class="filters__checkbox-cont">
            <input type="checkbox" name="" id="equipment5" class="filters__checkbox">
            <span class="filters__checkbox-icon"></span>
            Домик</label>
        </li>
      </ul>
    </fieldset>
    <input type="reset" value="Применить" class="filters__reset-btn2 filters__reset-btn1">
    <input type="reset" value="Сбросить фильтр" class="filters__reset-btn2">
  </form>
