@media screen and (max-width: 768px) {
  .advantages-cont {
    padding-top: 70px;
  }

  .advantage {
    grid-template-columns: repeat(1, 1fr);
  }

  .advantages {
    &__icon-contain {
      width: 60px;
      height: 60px;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__bcg {
      top: 3%;
      right: -2%;
      width: 129px;
      height: 175px;
    }
  }
}
