@media screen and (max-width: 1024px) {
  .advantage {
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages{
    &__icon-contain {
      width: 75px;
      height: 75px;
    }
  
    &__icon {
      width: 45px;
      height: 45px;
    }
  
    &__el-title{
      font-size: 20px;
    }
  
    &__el-text{
      font-size: 15px;
    }
  }
}