  <h2>Почему мы?</h2>
  <ul class="advantage">
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage1"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Комфортная температура</h3>
      <p class="advantages__el-text">
        Во всех номерах поддерживается комфортная температура в пределах
        23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
      </p>
    </li>
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage2"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Видеонаблюдение</h3>
      <p class="advantages__el-text">
        Мы предоставляем доступ в нашу систему. Вы сможете следить
        за своим питомцем со своего смартфона или компьютера.
      </p>
    </li>
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage3"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Услуги Зоотакси</h3>
      <p class="advantages__el-text">
        Мы приедем за вашим питомцем в любой район Санкт-Петербурга.
      </p>
    </li>
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage4"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Сбалансированное питание</h3>
      <p class="advantages__el-text">
        Вы можете привезти свой корм
        или доверить рацион своего
        питомца нашим профессионалам.
      </p>
    </li>
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage5"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Ежедневные прогулки</h3>
      <p class="advantages__el-text">
        По вашему желанию мы выгуливаем вашего питомца два раза в день
        на специализированной закрытой территории.
      </p>
    </li>
    <li class="advantages">
      <div class="advantages__icon-contain">
        <svg class="advantages__icon">
          <use href="../../assets/image/symbol-defs.svg#icon-advantage6"></use>
        </svg>
      </div>
      <h3 class="advantages__el-title">Лучшие ветеринары</h3>
      <p class="advantages__el-text">
        В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
      </p>
    </li>
  </ul>
  <svg class="advantages__bcg">
    <use href="../../assets/image/symbol-defs.svg#icon-bcg_paw"></use>
  </svg>