:root{
  --primary-text-color:  #1a212f;
  --secondary-text-color:  #848484;
  --thirdth-text-color:  #8f8f8f;
  --white-text-color:  #fffefd;

  --primary-color: #FFFFFF;
  --primary-accent-color: #FAC663;
  --secondary-accent-color: #ff7236;

  --Lato-400: "Lato-regular";
  --Lato-500: "Lato-medium";
  --Lato-600: "Lato-semibold";
  --Lato-700: "Lato-bold";
  --Rubik: "rubik";
}
