@media screen and (max-width: 1024px){

  .room__bcg{
    width: 300px;
    top: -20%;
  }

  .room__img{
    max-width: 440px;
    margin: 0;
  }

  .room__card-description{
    top: 2%;
    right: 0%;
  }

  .room__description{
    padding: 40px;
  }

  .room__card-el{
    font-size: 15px;
  }

  .room__card-el::marker {
    font-size: 18px;
  }

  .room__slide{
    justify-content: center;
  }

  .room__circ{
    margin: 0;
  }

  .room__arrow-contain,
  .el{
    display: none;
  }
}