<h2>Номера</h2>
<ul class="room__list">

  <img src="../../assets/image/room_main2.jpg" alt="cat" class="room__img">
  <div class="div">
    <li class="room__card-description">
      <div class="room__description">
        <h3>Эконом плюс</h3>
        <ul class="room__card-list">
          <li class="room__card-el">
            <p>&nbsp&nbspПлощадь - 0,90 м2</p>
          </li>
          <li class="room__card-el">
            <p>&nbsp&nbspРазмеры (ШхГхВ) — <span class="rooms__space">&nbsp&nbsp</span>90х100х180 см</p>
          </li>
          <li class="room__card-el">
            <p>&nbsp&nbspЦена за сутки: 200₽</p>
          </li>
        </ul>
        <a class="room__btn">Забронировать
          <div class="room__btn-container">
            <svg class="room__btn-icon">
              <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
            </svg>
          </div>
        </a>
      </div>
    </li>
  </div>
  <!-- <li>
          <img src="./assets/image/room_3.jpg" alt="cat">
          <div>
            <h3>Комфорт</h3>
            <ul>
              <li>
                <p>Площадь - 1,13 м2</p>
              </li>
              <li>
                <p>Размеры (ШхГхВ) - 100х125х180 см</p>
              </li>
              <li>
                <p>Цена за сутки: 250₽</p>
              </li>
            </ul>
            <button>Забронировать<div><svg>
                  <use href="./assets/image/symbol-defs.svg#icon-paw"></use>
                </svg></div></button>
          </div>
        </li>
        <li>
          <img src="./assets/image/room_4.jpg" alt="cat">
          <div>
            <h3>Сьют</h3>
            <ul>
              <li>
                <p>Площадь - 1,56 м2</p>
              </li>
              <li>
                <p>Размеры (ШхГхВ) - 125х125х180 см</p>
              </li>
              <li>
                <p>Цена за сутки: 350₽₽</p>
              </li>
            </ul>
            <button>Забронировать<div>
                <svg>
                  <use href="./assets/image/symbol-defs.svg#icon-paw"></use>
                </svg>
              </div>
            </button>
          </div>
        </li>
      </ul> -->
  <div class="room__slide">
    <div class="el"></div>
    <ul class="room__circ">
      <li class="room__circ-el">
        <svg class="room__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-orange_point"></use>
        </svg>
      </li>
      <li class="room__circ-el">
        <svg class="room__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-gray_point"></use>
        </svg>
      </li>
      <li class="room__circ-el">
        <svg class="room__circ-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-gray_point"></use>
        </svg>
      </li>
    </ul>

    <ul class="room__arrow-contain">
      <li class="room__arrow">
        <button type="button">
          <svg class="room__arrow-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-left_arrow"></use>
          </svg>
        </button>
      </li>
      <li class="room__arrow">
        <button>
          <svg class="room__arrow-icon">
            <use href="../../assets/image/symbol-defs.svg#icon-right_arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div>
    <svg class="room__bcg">
      <use href="../../assets/image/symbol-defs.svg#icon-bcg_fish"></use>
    </svg>
  </div>