@media screen and (max-width: 1024px) {
  .advantage {
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages__icon-contain {
    width: 75px;
    height: 75px;
  }

  .advantages__icon {
    width: 45px;
    height: 45px;
  }

  .advantages__el-title{
    font-size: 20px;
  }

  .advantages__el-text{
    font-size: 15px;
  }
}