.header__desk {
  display: flex;
  align-items: center;
}

.header__mob{
  display: none;
}

.logo {
  width: 63px;
  height: 52px;
}

nav {
  margin-left: auto;
}

.header {
  &__nav {
    display: flex;
  }

  &__nav-el {
    margin-right: 30px;
  }
  
  &__nav-el:last-child {
    margin-right: 0px;
  }
}