  <a href="./catalog.html">
    <svg class="logo">
      <use href="../../assets/image/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <!-- <button class="hidden">
    <svg>
      <use href="./assets/image/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button> -->
  <nav>
    <ul class="header__nav">
      <li class="header__nav-el"><a href="">Почему мы?</a></li>
      <li class="header__nav-el"><a href="">Номера</a></li>
      <li class="header__nav-el"><a href="">Отзывы</a></li>
      <li class="header__nav-el"><a href="">Как нас найти</a></li>
    </ul>
  </nav>
  <!-- <p class="hidden">8 (800) 333-55-99</p>
  <ul class="hidden">
    <li>
      <a href="">
        <svg>
          <use href="./assets/image/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg>
          <use href="./assets/image/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg>
          <use href="./assets/image/symbol-defs.svg#icon-vk"></use>
        </svg>
      </a>
    </li>
  </ul> -->