<ul class="card">

  <li class="card__item small"><img src="../../assets/image/room_card1.jpg" alt="" class="card__img"></li>
  <li class="card__item small"><img src="../../assets/image/room_card2.jpg" alt="" class="card__img"></li>
  <li class="card__item small"><img src="../../assets/image/room_card3.jpg" alt="" class="card__img"></li>
  <li class="card__item large"><img src="../../assets/image/room_1.jpg" alt="" class="card__img"></li>
</ul>
<div>
  <h1 class="card__title">Супер-Люкс</h1>
  <ul>
    <li class="card__text">
      <p>Размеры (ШхГхВ) - 180х160х180 см</p>
    </li>
    <li class="card__text">
      <p>Площадь - 2,88 м2</p>
    </li>
    <li class="card__text">
      <p>Оснащение номера</p>
    </li>
  </ul>
  <ul>
    <li class="card__equipment">
      <svg class="card__icon">
        <use href="../../assets/image/symbol-defs.svg#icon-room_2"></use>
      </svg>
      <p>Лежак</p>
    </li>
    <li class="card__equipment">
      <svg class="card__icon">
        <use href="../../assets/image/symbol-defs.svg#icon-room_3"></use>
      </svg>
      <p>Когтеточка</p>
    </li>
    <li class="card__equipment">
      <svg class="card__icon">
        <use href="../../assets/image/symbol-defs.svg#icon-room_4"></use>
      </svg>
      <p>Игровой комплекс - 3 яруса</p>
    </li>
    <li class="card__equipment">
      <svg class="card__icon">
        <use href="../../assets/image/symbol-defs.svg#icon-room_5"></use>
      </svg>
      <p>Домик</p>
    </li>
  </ul>
  <p>Цена за сутки:<span class="card__price">600&#8381;</span></p>
  <a href="" class="card__btn"><span class="card__btn-text">Забронировать</span>
    <div class="card__btn-cont">
      <svg class="card__btn-icon">
        <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
      </svg>
    </div>
  </a>
</div>