.footer {
  margin-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  &__nav {
    display: flex;
  }

  &__nav-el {
    margin-right: 30px;
  }

  &__nav-el:last-child {
    margin-right: 0px;
  }

  &__policy-contain {
    display: flex;
    color: var(--thirdth-text-color);
  }
  
  &__policy {
    margin-left: auto;
    color: var(--thirdth-text-color);
  }
}

.logo {
  width: 63px;
  height: 52px;
}

nav {
  margin-left: auto;
}

.line {
  width: auto;
  border: 1px solid #efefef;
}