<div class="footer contain">
  <a href="">
    <svg class="logo">
      <use href="../../assets/image/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <nav>
    <ul class="footer__nav">
      <li class="footer__nav-el">
        <a href="">Почему мы?</a>
      </li>
      <li class="footer__nav-el">
        <a href="">Номера</a>
      </li>
      <li class="footer__nav-el">
        <a href="">Отзывы</a>
      </li>
      <li>
        <a href="">Как нас найти</a>
      </li>
    </ul>
  </nav>
</div>
<div class="line"></div>
<div class="contain footer__policy-contain">
  <p class="footer__law">&#169 2019 Все права защищены</p>
  <a href=""  class="footer__policy">Политика конфиденциальности</a>
</div>