<div class="geolocation">
  <h2>Как нас найти</h2>
  <ul>
    <li>
      <p class="geolocation__title">Адрес</p>
      <p class="geolocation__text">Санкт-Петербург,<br>
        ул Большая Конюшенная, д 19</p>
    </li>
    <li>
      <p class="geolocation__title">Режим работы</p>
      <p class="geolocation__text">Ежедневно, с 9:00 до 20:00</p>
    </li>
    <li>
      <p class="geolocation__title">Телефон</p>
      <p class="geolocation__text">8 (800) 333-55-99</p>
    </li>
    <li>
      <p class="geolocation__title">E-mail</p>
      <p class="geolocation__text">info@cat-hotel.ru</p>
    </li>
    <li>
      <p class="geolocation__title">Социальные сети</p>
      <ul class="geolocation__social">
        <li class="geolocation__el">
          <a href="">
            <svg class="geolocation__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="geolocation__el">
          <a href="">
            <svg class="geolocation__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="geolocation__el">
          <a href="">
            <svg class="geolocation__icon">
              <use href="../../assets/image/symbol-defs.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="map">
</div>