<div>
  <h2>Как нас найти</h2>
  <ul>
    <li>
      <h3>Адрес</h3>
      <p>Санкт-Петербург,
        ул Большая Конюшенная, д 19</p>
    </li>
    <li>
      <h3>Режим работы</h3>
      <p>Ежедневно, с 9:00 до 20:00</p>
    </li>
    <li>
      <h3>Телефон</h3>
      <p>8 (800) 333-55-99</p>
    </li>
    <li>
      <h3>E-mail</h3>
      <p>info@cat-hotel.ru</p>
    </li>
    <li>
      <h3>Социальные сети</h3>
      <ul>
        <li>
          <a href="">
            <svg>
              <use href="../../assets/image/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="../../assets/image/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="../../assets/image/symbol-defs.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>