<div class="modal__backdrop"></div>

<div class="modal">
  <div class="modal__close-cont">
    <button class="modal__close-btn">
      <svg class="modal__close-icon">
        <use href="../../assets/image/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <h2 class="modal__title">Забронировать номер</h2>
  <form action="">
    <div class="modal__inputs">
      <input type="text" class="modal__input" placeholder="Ваше имя">
      <input type="text" class="modal__input" placeholder="Имя питомца">
      <input type="text" class="modal__input" placeholder="Телефон">
      <input type="text" class="modal__input" placeholder="E-mail">
      <div class="modal__inputs2">
        <label for="">Дата заезда c</label>
        <input type="text" class="modal__input modal__input2" placeholder="26.01.2025">
        <label for="">по</label>
        <input type="text" class="modal__input modal__input2" placeholder="26.02.2025">
      </div>
    </div>
    <a href="" class="modal__btn"><span class="modal__btn-text">Забронировать</span>
      <div class="modal__btn-cont">
        <svg class="modal__btn-icon">
          <use href="../../assets/image/symbol-defs.svg#icon-paw"></use>
        </svg>
      </div>
    </a>
  </form>
  <svg class="modal__bcg">
    <use href="../../assets/image/symbol-defs.svg#icon-bcg_paw"></use>
  </svg>
</div>